* {
  margin: 0;
  padding: 0;
}

body {
  /* background: #9198e5; */
  /* height: 100vh; */
  font-family: "Mulish", sans-serif;
  /* background-color: #192028; */
}

.image-artis {
  width: 160px;
}

.btnSelect {
  border: none;

  width: 150px;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* background-color: #28a745; */
}

.grid-column-song {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 20px;
}

.landing-page {
  width: 100%;
  height: 70vh;
}

.color-song {
  background-color: #192028;
}

@media screen and (max-width: 756px) {
  .btnSelect {
    width: 100%;
  }

  .grid-column-song {
    display: grid;
    grid-template-columns: auto;
  }
}
