* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#e66465, #9198e5);
}

.subTitle {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .Data {
    width: 100% !important;
    height: 100vh;
  }
  .callData {
    width: 100% !important;
    height: 100%;
  }

  .lebar {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .subTitle {
    width: 100%;
  }
  .gambar {
    width: 100%;
  }
}
